@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

.app-container {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}

/* Navigation */
.navigation-container {
  display: flex;
  justify-content: space-between;
  font-size: 120%;
}

.nav-left {
  margin-top: 40px;
  margin-left: 50px;
}

.nav-left > a {
  text-decoration: none;
  color: #353535;
  font-weight: 300;
  margin-right: 20px;
  transition: all 0.3s;
  padding: 0.7rem;
}

.nav-left > a:hover {
  font-weight: 400;
}

.nav-right {
  margin-right: 50px;
  margin-top: 20px;
}

.active {
  background-color: #fbff26e3;
  border-radius: 5px;
}

/* Header */
.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.header-image {
  width: 400px;
}

.product-input {
  margin: 30px;
  width: 400px;
  padding: 10px 25px;
  border-radius: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  outline: none;
  border: 1px solid #818181;
  color: #353535;
}

.product-input:focus {
  outline: none;
}

/* Cards Reusable */

.card-container {
  display: flex;
  margin-left: 50px;
  flex-wrap: wrap;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 20%;
  height: 52vh;
  border: 1.5px solid #000000;
  justify-content: space-between;
  margin: 30px;
}

.card img {
  margin: 2rem 0rem;
  max-width: 85%;
  max-height: 60.8%;
  -ms-flex-item-align: center;
  align-self: center;
}

.card p {
  padding: 0rem 0rem 3rem 1rem;
  color: #818181;
}
