/* Colors

 Yellow : #fbff26

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: Poppins;
}

header {
  height: 100vh;
  background-color: black;
  background-image: url("background\ image.png");
  background-size: cover;
  overflow: hidden;
}

.left {
  width: 50%;
  position: relative;
  left: 3.2%;
  top: 48px;
}

.btn li {
  display: inline-block;
  padding: 0px 10px 0px 10px;
}

.btn a {
  font-family: Roboto;
  text-decoration: none;
  color: #353535;
  cursor: pointer;
  font-size: 120%;
  padding: 0.7rem;
}
.btn a:hover {
  background-color: #fbff26e3;
  /* text-decoration: underline; */
  border-radius: 5px;
}

/* Button Active CSS */
.active {
  font-weight: bold;
  font-size: 130% !important;
}

.quote {
  font-size: 18px;
  position: relative;
  top: 25%;
  left: 5%;
  line-height: 185%;
}

.quote h1 {
  margin: 2.2rem 0rem;
  font-size: 3rem;
  color: #353535;
  line-height: 140%;
  font-weight: 500;
}

.quote h1 span {
  font-weight: 500;
}

.quote p {
  margin-bottom: 4rem;
  max-width: 500px;
  font-size: 1.5rem;
  font-weight: 100;
  color: #818181;
}

.primary-button {
  font-size: 90%;
  text-decoration: none;
  color: #333;
  border-radius: 1rem;
  padding: 0.7rem 0.9rem;
  margin: 100px 0px;
  background-color: #f6ff8a;
  box-shadow: 2px 2px 7px #666;
  outline: none;
  border: none;
}

/* reusable components */
.row {
  width: 92%;
  margin: 2.5rem auto;
}

.heading {
  font-size: 3rem;
  font-weight: 300;
  color: #333;
}

.inverted {
  color: #222;
  font-weight: 500;
  border-bottom: 7px solid #f6ff8a;
}

/* section projects */
.section-projects {
  height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 52vh;
  border: 1.5px solid #333;
}

.card img {
  margin: 2rem 0rem;
  max-width: 85%;
  max-height: 60.8%;
  align-self: center;
}

.card p {
  padding: 0rem 0rem 3rem 1rem;
  /* background-color: #faffc2; */
}

.cards-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}

/* Tutorials Section */
.section-tut {
  height: 100vh;
}

.tut-flex {
  display: flex;
  flex-direction: row;
}

.tut-col {
  display: flex;
  flex-direction: column;
}

.tut-col:first-child {
  margin-right: 3.5rem;
}

.tut-col:last-child {
  margin-left: 3.5rem;
}

.tut-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}

.tut-row p {
  margin-left: 1.5rem;
}

.tut-col:first-child p {
  margin: 1.3rem 0rem;
  font-size: 1.95rem;
}
